<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ROS - Restaurant Ordering System</title>
    <!-- plugins:css -->
    <link href="~/Content/vendors/iconfonts/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/vendor.bundle.addons.css" rel="stylesheet" />

    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
   
        @Html.Partial("_Header")

        <div class="container-fluid page-body-wrapper">
            @Html.Partial("_Sidebar")
            <div class="main-panel">
                @RenderBody()
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid clearfix">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                    Copyright © 2018
                    <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.
                </span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    Hand-crafted & made with
                    <i class="mdi mdi-heart text-danger"></i>
                </span>
            </div>
        </footer>
        <!-- page-body-wrapper ends -->
    </div>

    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/vendors/js/vendor.bundle.addons.js"></script>

    <script src="~/Content/js/off-canvas.js"></script>
    <script src="~/Content/js/misc.js"></script>

    <script src="~/Content/js/dashboard.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</body>
</html>